* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    background: url("../img/background.jpg") no-repeat fixed;
    background-size: cover;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /* background: hsla(305, 48%, 71%, 0.973); */
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    width: 100%;
    height: 100%;
    /* display: none; */
}

.no-js #loader-wrapper {
    display: none;
}

@-webkit-keyframes colors {
    0% {
        background: #af298a;
    }
    7% {
        background: #af298a;
    }
    14% {
        background: #e35b02;
    }
    21% {
        background: #e35b02;
    }
    28% {
        background: #59b101;
    }
    35% {
        background: #59b101;
    }
    42% {
        background: #e39f02;
    }
    49% {
        background: #e39f02;
    }
    56% {
        background: #d70f37;
    }
    63% {
        background: #d70f37;
    }
    70% {
        background: #2141c6;
    }
    77% {
        background: #2141c6;
    }
    84% {
        background: #0f9bd7;
    }
    91% {
        background: #0f9bd7;
    }
    100% {
        background: #af298a;
    }
}

@-webkit-keyframes block1 {
    0% {
        left: 8px;
        top: 0;
    }
    24% {
        left: 8px;
        top: 0;
    }
    28% {
        left: 24px;
        top: 0;
    }
    35% {
        left: 24px;
        top: 0;
    }
    42% {
        left: 16px;
        top: 0;
    }
    49% {
        left: 16px;
        top: 0;
    }
    56% {
        left: 8px;
        top: 0;
    }
    77% {
        left: 8px;
        top: 0;
    }
    81% {
        left: 0;
        top: 0;
    }
    84% {
        left: 0;
        top: 8px;
    }
    91% {
        left: 0;
        top: 8px;
    }
    95% {
        left: 0;
        top: 0;
    }
    100% {
        left: 8px;
        top: 0;
    }
}

@-webkit-keyframes block2 {
    0% {
        left: 24px;
        top: 0;
    }
    21% {
        left: 24px;
        top: 0;
    }
    25% {
        left: 24px;
        top: 16px;
    }
    35% {
        left: 24px;
        top: 16px;
    }
    42% {
        left: 32px;
        top: 16px;
    }
    49% {
        left: 32px;
        top: 16px;
    }
    56% {
        left: 40px;
        top: 16px;
    }
    77% {
        left: 40px;
        top: 16px;
    }
    81% {
        left: 48px;
        top: 16px;
    }
    84% {
        left: 48px;
        top: 8px;
    }
    91% {
        left: 48px;
        top: 8px;
    }
    95% {
        left: 48px;
        top: 0;
    }
    100% {
        left: 40px;
        top: 0;
    }
}

@-webkit-keyframes block3 {
    0% {
        left: 40px;
        top: 0;
    }
    35% {
        left: 40px;
        top: 0;
    }
    42% {
        left: 32px;
        top: 0;
    }
    49% {
        left: 32px;
        top: 0;
    }
    56% {
        left: 24px;
        top: 0;
    }
    66% {
        left: 24px;
        top: 0;
    }
    70% {
        left: 24px;
        top: 16px;
    }
    77% {
        left: 24px;
        top: 16px;
    }
    81% {
        left: 32px;
        top: 16px;
    }
    84% {
        left: 32px;
        top: 8px;
    }
    91% {
        left: 32px;
        top: 8px;
    }
    95% {
        left: 32px;
        top: 16px;
    }
    100% {
        left: 24px;
        top: 16px;
    }
}

@-webkit-keyframes block4 {
    0% {
        left: 24px;
        top: 16px;
    }
    7% {
        left: 24px;
        top: 16px;
    }
    14% {
        left: 8px;
        top: 16px;
    }
    35% {
        left: 8px;
        top: 16px;
    }
    42% {
        left: 16px;
        top: 16px;
    }
    49% {
        left: 16px;
        top: 16px;
    }
    56% {
        left: 24px;
        top: 16px;
    }
    63% {
        left: 24px;
        top: 16px;
    }
    67% {
        left: 8px;
        top: 16px;
    }
    77% {
        left: 8px;
        top: 16px;
    }
    81% {
        left: 16px;
        top: 16px;
    }
    84% {
        left: 16px;
        top: 8px;
    }
    91% {
        left: 16px;
        top: 8px;
    }
    95% {
        left: 16px;
        top: 0;
    }
    100% {
        left: 24px;
        top: 0;
    }
}

.tetris {
    margin: 0!important;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: block;
    width: 64px;
    height: 32px;
    margin: 32px auto;
}

.block1,
.block2,
.block3,
.block4 {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #af298a;
    box-shadow: inset 0 0 0 4px rgba(0, 0, 0, .1);
}

.block1:before,
.block2:before,
.block3:before,
.block4:before {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 2px;
    height: 3px;
    background: rgba(255, 255, 255, .5);
}

.block1 {
    left: 8px;
    top: 0;
    -webkit-animation: block1 5s infinite linear, colors 5s infinite linear;
}

.block2 {
    left: 24px;
    top: 0;
    -webkit-animation: block2 5s infinite linear, colors 5s infinite linear;
}

.block3 {
    left: 40px;
    top: 0;
    -webkit-animation: block3 5s infinite linear, colors 5s infinite linear;
}

.block4 {
    left: 24px;
    top: 16px;
    -webkit-animation: block4 5s infinite linear, colors 5s infinite linear;
}


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(143, 99, 231);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1.5s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1s linear infinite;
}
.load {
    margin: 0 auto;
    position: relative;
    top: 50%;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 60px;
    height: 60px;
    border-top: 12px solid rgba(243, 74, 83, 0.2);
    border-right: 12px solid rgba(243, 74, 83, 0.2);
    border-bottom: 12px solid rgba(243, 74, 83, 0.2);
    border-left: 12px solid #F34A53;
    animation: animation 0.7s infinite linear;
    /* display: none; */
    border-radius: 50%;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.polaroid-pictures {
    height: 100vh;
    max-width: 1100px;
    margin: 30px auto;
    /* border: 2px solid red; */
    text-align: center;
}

.polaroid-pictures span {
    margin: 1px 1px 5px;
    padding: 5px 5px 40px;
    display: inline-block;
    /* float: left; */
    background: white;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 2px 6px 8px rgba(0, 0, 0, .9);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index: 0;
    position: relative;
    font-style: oblique;
}

.polaroid-pictures span::after {
    color: #333;
    font-size: 20px;
    content: attr(title);
    position: relative;
    top: 17px;
}

.polaroid-pictures img {
    display: block;
    width: inherit;
}

.polaroid-pictures span:nth-child(2n) {
    -webkit-transform: rotate(16deg);
    -moz-transform: rotate(16deg);
    transform: rotate(16deg);
}

.polaroid-pictures span:nth-child(3n) {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.polaroid-pictures span:nth-child(4n) {
    -webkit-transform: rotate(16deg);
    -moz-transform: rotate(16deg);
    transform: rotate(16deg);
}

.polaroid-pictures span:hover {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 10;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    cursor: pointer;
    color: brown;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 20;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    height: 60vh;
    /* width: 50vw; */
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 10% auto;
    /* 15% from the top and centered */
    /* padding: 20px; */
    /* border: 10px solid white; */
    /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation-name: animatetop;
        animation-duration: 0.4s;
    z-index: 20;
}
.modal-content2 {
    display: inline-block;
    position: relative;
    left: 50%;
    height: 100%;
    width: 100%;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto;
    transform: translateX(-50%);
    /* 15% from the top and centered */
    /* padding: 20px; */
    /* border: 10px solid white; */
    /* Could be more or less, depending on screen size */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* animation-name: animatetop; */
    /* z-index: 20; */
    /* animation-duration: 0.4s; */
}


/* Add Animation */
@keyframes animatetop {
    from { top: -200px; opacity: 0; transform: scale(0.8) }
    to { top: 0; opacity: 1; transform: scale(1) }
}
   
/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: -2%;
    right: 20px;
    font-size: 45px;
    font-weight: bold;
    z-index: 1;
}

.close:hover,
.close:focus {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

.prev,
.next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -50px;
      color: white;
      font-weight: bold;
      font-size: 24px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      -webkit-user-select: none;
      z-index: 1;
  }

  /* Position the "next button" to the right */
.next {
      right: 0;
      border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
      background-color: rgba(0, 0, 0, 0.8);
  }
