* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    background: url("../img/background.jpg") no-repeat fixed;
    background-size: 100% 100%;
}

.polaroid-pictures {
    height: 100vh;
    max-width: 1100px;
    margin: 30px auto;
    /* border: 2px solid red; */
    text-align: center;
}

.polaroid-pictures span {
    margin: 1px 1px 5px;
    padding: 5px 5px 40px;
    display: inline-block;
    /* float: left; */
    background: white;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 2px 6px 8px rgba(0, 0, 0, .9);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index: 0;
    position: relative;
    font-style: oblique;
}

.polaroid-pictures span::after {
    color: #333;
    font-size: 20px;
    content: attr(title);
    position: relative;
    top: 17px;
}

.polaroid-pictures img {
    display: block;
    width: inherit;
}

.polaroid-pictures span:nth-child(2n) {
    -webkit-transform: rotate(16deg);
    -moz-transform: rotate(16deg);
    transform: rotate(16deg);
}

.polaroid-pictures span:nth-child(3n) {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.polaroid-pictures span:nth-child(4n) {
    -webkit-transform: rotate(16deg);
    -moz-transform: rotate(16deg);
    transform: rotate(16deg);
}

.polaroid-pictures span:hover {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 10;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    cursor: pointer;
    color: brown;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 20;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    height: 60vh;
    /* width: 50vw; */
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 10% auto;
    /* 15% from the top and centered */
    /* padding: 20px; */
    /* border: 10px solid white; */
    /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation-name: animatetop;
        animation-duration: 0.4s;
    z-index: 20;
}
.modal-content2 {
    display: inline-block;
    position: relative;
    left: 50%;
    height: 100%;
    width: 100%;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto;
    transform: translateX(-50%);
    /* 15% from the top and centered */
    /* padding: 20px; */
    /* border: 10px solid white; */
    /* Could be more or less, depending on screen size */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* animation-name: animatetop; */
    /* z-index: 20; */
    /* animation-duration: 0.4s; */
}


/* Add Animation */
@keyframes animatetop {
    from { top: -200px; opacity: 0; transform: scale(0.8) }
    to { top: 0; opacity: 1; transform: scale(1) }
}
   
/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: -2%;
    right: 20px;
    font-size: 45px;
    font-weight: bold;
    z-index: 1;
}

.close:hover,
.close:focus {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

.prev,
.next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -50px;
      color: white;
      font-weight: bold;
      font-size: 24px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      -webkit-user-select: none;
      z-index: 1;
  }

  /* Position the "next button" to the right */
.next {
      right: 0;
      border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
      background-color: rgba(0, 0, 0, 0.8);
  }
